@use "./base.scss";

// put your custom CSS here!

h1 { color: var(--dark); }            // Highest-level heading
h2 { color: var(--secondary); }       // Accent color
h3 { color: var(--tertiary); }
h4 { color: #666666; }               // Custom neutral gray
h5 { color: #888888; }               // Softer gray
h6 { color: #aaaaaa; }               // Even lighter
